{{.Includes.Head}}

<main>

    {{.Includes.Header}}

    {{ .Content }}

    {{ $blogsPath := .Site.Paths.Blog }}
    <ul class="blog-posts">
        {{range .Site.Posts}}
        <li>
            <span>
                <i>
                    <time datetime="2022-01-28" pubdate="">
                        {{.Date}}
                    </time>
                </i>
            </span>
            <a href="{{$blogsPath}}/{{.RootName}}">{{.Title}}</a>
        </li>
        {{end}}
    </ul>

    <small>
    {{ $siteURL := .Site.URL }}
    {{range .Site.Tags}}
	<a href="{{$siteURL}}/tagged/{{.Slug}}/{{.Slug}}" title="See all posts by {{.Slug}} tag">#{{.Slug}}</a>
    {{end}}
    </small>

</main>

</body>

{{.Includes.Footer}}

</html>
